{% extends 'base.html' %}

{% block title %}About{% endblock title %}


{% block body %}
<section id="about-us" class="py-5">
  <div class="container">
    <div class="row">
      <div class="col-lg-6">
        <h2 class="section-title">About Us</h2>
        <p>Welcome to Knowledge Nook Library! We are a community-driven library located in the heart of <b>Bihar</b>, dedicated to fostering a love for reading and learning among people of all ages and backgrounds.</p>
        <p>Our journey began in 2024 with a vision to create a peaceful study environment. Since then, we have grown into a beloved institution, serving as a haven study environment for all standered students, compitative exam's aspirents and for all who wants to sel alike.</p>
        <p>At <b class="nook">Knowledge Nook Library</b>, we pride ourselves on our extensive, discussing in your languages and topics. Whether you're searching for classic literature, mock practics, contemporary fiction, academic resources, or study-doubt, you'll find something to captivate your imagination and expand your horizons.</p>
        <p>But we're more than just a repository of books; we're a dynamic community space where ideas are exchanged, friendships are formed, and lifelong learning thrives. Our dedicated team of librarians is here to assist you in discovering new authors, accessing digital resources, and navigating the exciting world of literature.</p>
        <p>From engaging storytelling sessions for children to thought-provoking book clubs for adults, we offer a range of programs and events designed to inspire, educate, and entertain. Whether you're attending one of our workshops, participating in a discussion group, or simply browsing our shelves, we hope you'll find inspiration and joy in every visit to Knowledge Nook Library.</p>
      </div>
      <div class="col-lg-6">
        <img src="/static/images/1.jpeg" class="img-fluid rounded" alt="About Us Image">
      </div>
    </div>
  </div>
</section>
{% endblock body %}


