{% extends 'base.html' %}

{% block title %}Privacy Policy - Knowledge Nook Library{% endblock title %}

{% block body %}
<div class="container">
    <h1 class="text-center mb-3">Privacy Policy</h1>
    <p>This Privacy Policy outlines how <b>Knowledge Nook Library</b> collects, uses, protects, and shares personal information obtained from users of our website and library services.</p>
    
    <h4>Collection of Personal Information:</h4>
    <ul>
        <li>We may collect personal information such as name, email address, phone number, and address during the registration process for library services.</li>
    </ul>

    <h4>Use of Personal Information:</h4>
    <ul>
        <li>We may also use this information to send updates, newsletters, or promotional offers related to library services, unless the user opts out of such communications.</li>
    <li>Personal information collected is used for the purpose of providing library services, including registration, time slot selection, and communication with students regarding their bookings.</li>
    </ul>

    <h4>Protection of Personal Information:</h4>
    <ul>
        <li>We are committed to protecting the confidentiality and security of personal information collected from users.</li>
        <li>Appropriate measures are in place to safeguard against unauthorized access, disclosure, alteration, or destruction of personal information.</li>
    </ul>
    

    <h4>Sharing of Personal Information:</h4>
   <ul>
    <li>Personal information collected from users will not be shared, sold, or rented to third parties, except in the following circumstances.</li>
    <li>With service providers or business partners who assist us in providing library services, subject to confidentiality agreements.</li>
    <li>When required by law or legal process to comply with a subpoena, court order, or other legal obligation.</li>
   </ul>

    <h4>Retention of Personal Information:</h4>
    <ul>
        <li>Personal information will be retained only for as long as necessary to fulfill the purposes outlined in this privacy policy or as required by law.</li>
    </ul>

    <h4>User Control Over Personal Information:</h4>
    <ul>
        <li>Users have the right to access, update, or delete their personal information stored in our database.</li>
        <li>Requests for access, updates, or deletions can be made by contacting the library management.</li>
    
    </ul>
   
    <h4>Changes to Privacy Policy:</h4>
    <ul>
        <li>We reserve the right to modify or update this privacy policy at any time.</li>
        <li>If you have any questions, concerns, or complaints regarding this privacy policy or our handling of personal information, please contact us at <a href="mailto:knowledgenooklibrary@gmail.com">knowledgenooklibrary@gmail.com</a>.</li>
        <li>By using our website and services, users acknowledge that they have read, understood, and agree to the terms of this privacy policy.</p>
    </ul>
    
</div>
{% endblock body %}

{% block styles %}
<link rel="stylesheet" href="/static/privacy.css">
{% endblock styles %}
