{% extends 'base.html' %}

{% block title %}Suggestions - Knowledge Nook Library{% endblock title %}

{% block body %}
<div class="container mt-5">
  <div class="row justify-content-center">
    <div class="col-md-8">
      <div class="card">
        <div class="card-header bg-danger text-white">Suggestion Form</div>
        <div class="card-body">
            <iframe src="https://docs.google.com/forms/d/e/1FAIpQLSfCNv9q2b89RA1kxsrOYEL-TYxbUtR8JrADPVsZXf40GkC1Xg/viewform?embedded=true" width="100%" height="600" frameborder="0" marginheight="0" marginwidth="0">Loading…</iframe>
        </div>
      </div>
    </div>
  </div>
</div>
{% endblock body %}
